  {{businessAppPreview.businesses.name}}
    <h2 class="biz-name">
      {{businessAppPreview.businesses.description}} <br>
    </h2>

    <div class="biz-site">
      <a href={{businessAppPreview.businesses.website}}>{{businessAppPreview.businesses.website}}</a><br>
    </div>


    <img class="biz-img" src={{businessAppPreview.businesses.image}}> <br>

    <div class="biz-description">
      {{businessAppPreview.businesses.description}} <br>
    </div>

    <div class="biz-info">
      Hours: {{businessAppPreview.businesses.hours}} <br>
      Address: {{businessAppPreview.businesses.addr1}} {{businessAppPreview.businesses.addr2}} {{businessAppPreview.businesses.city}}, {{businessAppPreview.businesses.state}} {{businessAppPreview.businesses.zip}}<br>


      Phone: {{businessAppPreview.businesses.phone}} <br>
      Years in business: {{businessAppPreview.businesses.yearsInBusiness}} <br>
    </div>
