<img src={{business.image}}> <br>

{{business.name}} <br>
{{business.website}} <br>
{{business.description}} <br>
{{business.hours}} <br>
{{business.addr1}} <br>
{{business.addr2}} <br>
{{business.city}} <br>
{{business.state}} <br>
{{business.zip}} <br>
{{business.phone}} <br>
{{business.yearsInBusiness}} <br>

<button {{action 'delete' business}}>Delete Business</button>
