<button class="btn btn-success"{{action "toggleModal"}}>Update Business</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
  <h4>Update {{business.name}}'s Profile</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=business.name id="name"}}
      </div>
      <div class="form-group">
        <label for="hours">Hours</label>
        {{input value=business.hours id="hours"}}
      </div>
      <div class="form-group">
        <label for="addr1">Street Address</label>
        {{input value=business.addr1 id="addr1"}}
      </div>
      <div class="form-group">
        <label for="addr2">Apt/Suite/Floor</label>
        {{input value=business.addr2 id="addr2"}}
      </div>
      <div class="form-group">
        <label for="city">City</label>
        {{input value=business.city id="city"}}
      </div>
      <div class="form-group">
        <label for="state">State</label>
        {{input value=business.state id="state"}}
      </div>
      <div class="form-group">
        <label for="zip">Zipcode</label>
        {{input value=business.zip id="zip"}}
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        {{input value=business.phone id="phone"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=business.image id="image"}}
      </div>
      <div class="form-group">
        <label for="yearsInBusiness">Years in Business</label>
        {{input value=business.yearsInBusiness id="yearsInBusiness"}}
      </div>
      <div class="form-group">
        <label for="description">Describe your Business</label>
        {{textarea value=business.description id="description"}}
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        {{input value=business.website id="website"}}
      </div>
      <button {{action 'update' business}}>Save Updates</button>
    </form>
    <button {{action 'cancelBusinessForm'}}>Cancel</button>
  </div>
  {{/modal-dialog}}
{{/if}}
