<button class="update-btn btn btn-success"{{action "toggleModal"}}>update business</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
  <h4 class="update-title">Update {{business.name}}'s Profile</h4>
  <div>
    <form class="update-biz-form">
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="hours">Hours</label>
        {{input value=hours id="hours" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="addr1">Street Address</label>
        {{input value=addr1 id="addr1" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="addr2">Apt/Suite/Floor</label>
        {{input value=addr2 id="addr2" class="form-control" class="form-control" class="form-control"}}
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="city">City</label>
            {{input value=city id="city" class="form-control" class="form-control"}}
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="state">State</label>
            {{input value=state id="state" class="form-control"}}
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="zip">Zipcode</label>
            {{input value=zip id="zip" class="form-control"}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        {{input value=phone id="phone" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="yearsInBusiness">Years in Business</label>
        {{input value=yearsInBusiness id="yearsInBusiness" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="description">Describe your Business</label>
        {{textarea value=description id="description" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        {{input value=website id="website" class="form-control"}}
      </div>
      <button {{action 'update' business}}>Save Updates</button>
    </form>
    <button {{action 'cancelBusinessForm'}}>Cancel</button>
  </div>
  {{/modal-dialog}}
{{/if}}
